In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
base_site = "https://www.espncricinfo.com/rankings/content/page/211271.html"

In [3]:
response = requests.get(base_site)
response.status_code
response.ok

True

In [4]:
html = response.text

In [5]:
read = BeautifulSoup(html, "html.parser")

In [9]:
all_tables = read.find_all("table", class_ = "StoryengineTable")

In [10]:
len(all_tables)

5

In [14]:
odis = all_tables[1]
odis.caption.text

'01 July 2021'

In [17]:
print(odis.text)

01 July 2021

Pos
Team
Matches
Points
Rating


1
New Zealand
17
2054
121


2
Australia
25
2945
118


3
England
29
3356
116


4
India
29
3344
115


5
South Africa
20
2137
107


6
Pakistan
24
2323
97


7
Bangladesh
27
2438
90


8
West Indies
27
2222
82


9
Sri Lanka
26
2006
77


10
Afghanistan
17
1054
62


11
Netherlands
7
336
48


12
Ireland
21
897
43


13
Zimbabwe
15
588
39


14
Scotland
7
258
37


15
Oman
7
240
34


16
Nepal
5
119
24


17
UAE
9
190
21


18
Namibia
6
97
16


19
USA
8
93
12


20
PNG
5
0
0

In [19]:
col = []

for i in odis.find_all("th"):
    col.append(i.text)

In [20]:
col

['Pos', 'Team', 'Matches', 'Points', 'Rating']

In [22]:
table = odis.find_all("td")

In [27]:
table

[<td class="left">1</td>,
 <td class="left">New Zealand</td>,
 <td class="left">17</td>,
 <td class="left">2054</td>,
 <td class="left">121</td>,
 <td class="left">2</td>,
 <td class="left">Australia</td>,
 <td class="left">25</td>,
 <td class="left">2945</td>,
 <td class="left">118</td>,
 <td class="left">3</td>,
 <td class="left">England</td>,
 <td class="left">29</td>,
 <td class="left">3356</td>,
 <td class="left">116</td>,
 <td class="left">4</td>,
 <td class="left">India</td>,
 <td class="left">29</td>,
 <td class="left">3344</td>,
 <td class="left">115</td>,
 <td class="left">5</td>,
 <td class="left">South Africa</td>,
 <td class="left">20</td>,
 <td class="left">2137</td>,
 <td class="left">107</td>,
 <td class="left">6</td>,
 <td class="left">Pakistan</td>,
 <td class="left">24</td>,
 <td class="left">2323</td>,
 <td class="left">97</td>,
 <td class="left">7</td>,
 <td class="left">Bangladesh</td>,
 <td class="left">27</td>,
 <td class="left">2438</td>,
 <td class="left">90</td>,
 <td class="left">8</td>,
 <td class="left">West Indies</td>,
 <td class="left">27</td>,
 <td class="left">2222</td>,
 <td class="left">82</td>,
 <td class="left">9</td>,
 <td class="left">Sri Lanka</td>,
 <td class="left">26</td>,
 <td class="left">2006</td>,
 <td class="left">77</td>,
 <td class="left">10</td>,
 <td class="left">Afghanistan</td>,
 <td class="left">17</td>,
 <td class="left">1054</td>,
 <td class="left">62</td>,
 <td class="left">11</td>,
 <td class="left">Netherlands</td>,
 <td class="left">7</td>,
 <td class="left">336</td>,
 <td class="left">48</td>,
 <td class="left">12</td>,
 <td class="left">Ireland</td>,
 <td class="left">21</td>,
 <td class="left">897</td>,
 <td class="left">43</td>,
 <td class="left">13</td>,
 <td class="left">Zimbabwe</td>,
 <td class="left">15</td>,
 <td class="left">588</td>,
 <td class="left">39</td>,
 <td class="left">14</td>,
 <td class="left">Scotland</td>,
 <td class="left">7</td>,
 <td class="left">258</td>,
 <td class="left">37</td>,
 <td class="left">15</td>,
 <td class="left">Oman</td>,
 <td class="left">7</td>,
 <td class="left">240</td>,
 <td class="left">34</td>,
 <td class="left">16</td>,
 <td class="left">Nepal</td>,
 <td class="left">5</td>,
 <td class="left">119</td>,
 <td class="left">24</td>,
 <td class="left">17</td>,
 <td class="left">UAE</td>,
 <td class="left">9</td>,
 <td class="left">190</td>,
 <td class="left">21</td>,
 <td class="left">18</td>,
 <td class="left">Namibia</td>,
 <td class="left">6</td>,
 <td class="left">97</td>,
 <td class="left">16</td>,
 <td class="left">19</td>,
 <td class="left">USA</td>,
 <td class="left">8</td>,
 <td class="left">93</td>,
 <td class="left">12</td>,
 <td class="left">20</td>,
 <td class="left">PNG</td>,
 <td class="left">5</td>,
 <td class="left">0</td>,
 <td class="left">0</td>]

In [36]:
table_list = []
start = 0
end = 5

for i in range(20):
    Pos, Team, Matches, Points, Rating = table[start:end]
    table_list.append([Pos.text, Team.text, Matches.text, Points.text, Rating.text])
    start += 5
    end += 5

In [37]:
table_list

[['1', 'New Zealand', '17', '2054', '121'],
 ['2', 'Australia', '25', '2945', '118'],
 ['3', 'England', '29', '3356', '116'],
 ['4', 'India', '29', '3344', '115'],
 ['5', 'South Africa', '20', '2137', '107'],
 ['6', 'Pakistan', '24', '2323', '97'],
 ['7', 'Bangladesh', '27', '2438', '90'],
 ['8', 'West Indies', '27', '2222', '82'],
 ['9', 'Sri Lanka', '26', '2006', '77'],
 ['10', 'Afghanistan', '17', '1054', '62'],
 ['11', 'Netherlands', '7', '336', '48'],
 ['12', 'Ireland', '21', '897', '43'],
 ['13', 'Zimbabwe', '15', '588', '39'],
 ['14', 'Scotland', '7', '258', '37'],
 ['15', 'Oman', '7', '240', '34'],
 ['16', 'Nepal', '5', '119', '24'],
 ['17', 'UAE', '9', '190', '21'],
 ['18', 'Namibia', '6', '97', '16'],
 ['19', 'USA', '8', '93', '12'],
 ['20', 'PNG', '5', '0', '0']]

In [34]:
import pandas as pd

In [38]:
odi_ranking = pd.DataFrame(table_list, columns = col)

In [40]:
odi_ranking.to_csv("odi_rank.csv", index=False)

In [41]:
odi_ranking

   Pos          Team Matches Points Rating
0    1   New Zealand      17   2054    121
1    2     Australia      25   2945    118
2    3       England      29   3356    116
3    4         India      29   3344    115
4    5  South Africa      20   2137    107
5    6      Pakistan      24   2323     97
6    7    Bangladesh      27   2438     90
7    8   West Indies      27   2222     82
8    9     Sri Lanka      26   2006     77
9   10   Afghanistan      17   1054     62
10  11   Netherlands       7    336     48
11  12       Ireland      21    897     43
12  13      Zimbabwe      15    588     39
13  14      Scotland       7    258     37
14  15          Oman       7    240     34
15  16         Nepal       5    119     24
16  17           UAE       9    190     21
17  18       Namibia       6     97     16
18  19           USA       8     93     12
19  20           PNG       5      0      0