In [1]:
import pandas as pd 
import numpy as np
import datetime as dt

In [2]:
dataset = pd.read_csv("dc_airbnb.csv")

In [3]:
dataset

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718,100%,60%,1,4,Entire home/apt,1.0,1.0,2.0,$135.00,$45.00,$400.00,3,60,19,38.885492,-76.987765,Washington,20003,DC
3719,100%,50%,1,2,Private room,1.0,2.0,1.0,$79.00,NaN,NaN,3,365,36,38.889401,-76.986646,Washington,20003,DC
3720,100%,100%,2,6,Entire home/apt,2.0,1.0,3.0,$275.00,$100.00,$500.00,2,2147483647,12,38.889533,-77.001010,Washington,20003,DC
3721,88%,100%,1,2,Entire home/apt,1.0,1.0,1.0,$179.00,$25.00,NaN,2,21,48,38.890815,-77.002283,Washington,20002,DC
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC

# rules data sy ly raha hai jk experience hai 
# Algo mai koi relation nhi hota similarity check krtry hain.(muslun kuch beechna hai to usko duniya k dosry cheezo sy compare krty hoy price guess kryngy.)
# Model relation pr kaam krta hai ind and dep k drmiyan (muslun effect of cloud on wheather)

![](Learning.png)

# SuperVise Learning
## 1- Regression(decimal point data) 
## 2- Discrete(M,F,discrete data)
# UnSuperVise Learning
## * - ind from data set

##### k-Nearest Neighbors (Knn) algo(find unknown from known) for both regression and classification(Supervision Learning)
##### regression -> price predict
##### Euclidean ditance

In [4]:
# Univariate Case

In [5]:
acc_value = 3

first_living_space_value = dataset.loc[0,"accommodates"]

In [6]:
np.sqrt((first_living_space_value-acc_value)**2)

1.0

In [7]:
temp_df = dataset.copy()

In [8]:
temp_df

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718,100%,60%,1,4,Entire home/apt,1.0,1.0,2.0,$135.00,$45.00,$400.00,3,60,19,38.885492,-76.987765,Washington,20003,DC
3719,100%,50%,1,2,Private room,1.0,2.0,1.0,$79.00,NaN,NaN,3,365,36,38.889401,-76.986646,Washington,20003,DC
3720,100%,100%,2,6,Entire home/apt,2.0,1.0,3.0,$275.00,$100.00,$500.00,2,2147483647,12,38.889533,-77.001010,Washington,20003,DC
3721,88%,100%,1,2,Entire home/apt,1.0,1.0,1.0,$179.00,$25.00,NaN,2,21,48,38.890815,-77.002283,Washington,20002,DC
3722,70%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$110.00,$40.00,$200.00,2,1125,1,38.883646,-76.999810,Washington,20003,DC

In [9]:
temp_df["Distance"] = temp_df["accommodates"].apply(lambda x : np.sqrt((x - acc_value)**2))

In [10]:
temp_df["Distance"].unique()

array([ 1.,  3.,  2.,  4.,  0.,  6.,  7.,  5.,  9., 11., 10., 13., 12.,
        8.])

In [11]:
temp_df = temp_df[temp_df["Distance"] == 0]

In [12]:
# shuffling
np.random.seed(3)
shuffle_index = np.random.permutation(temp_df.index)
shuffle_index

array([2901, 1150, 1281, 2997,  631,  710, 1925,  423, 2064, 2825, 1297,
       2044,  432, 3568, 1022, 2957,  911,  488, 3488, 1574,  124,  108,
       3722,  151, 3179, 3060,  950, 3219, 1621, 2313, 1124, 3546, 1117,
        341, 1205, 1336, 3261, 2219,  115, 3128,  383,  799, 1728,  783,
        280, 1644, 1086,  895,  457, 2011, 2348, 3349, 1801,  481,  963,
       1667,  228, 2421, 2680, 2700, 3626, 1213, 1042, 2478, 1164,  886,
        357, 1091, 3437, 2793, 1399,  316, 2483, 1639,  312, 1075,   75,
        831, 3340, 2409,  302,  891,  625,  146, 2611, 2055,  172,  690,
        749, 1737,  972, 3328, 2528,  976,  200, 1501, 3229, 2172, 3072,
       3413, 2257, 1469, 2338, 1748, 1330, 2479,  596, 1288, 2460, 1271,
       2089, 2399,  934, 1080, 2868,  899,  301, 3169,  626, 1522,  973,
       2431, 2122, 1311, 1259, 1275, 2166, 3323, 3140, 2729, 3284, 3619,
        453, 3631,  289, 1823,  459, 3144, 1761, 3098, 1809,  394, 2277,
       1791, 3100,  140, 1274, 1792, 1922, 2411,  277,  215, 2113,   45,
        399, 1015,  267,  265,  370, 3697,  421,  167,   86, 2376, 3515,
       3341,  823,  147,  334, 1515, 2932, 3625, 2835, 2179, 1627, 3572,
        364, 1467,  409, 2145, 3226, 3510,  307,  893,  241,   44,  880,
       1682, 3578, 1309, 2135, 2312,  740,  848, 2197, 1998,   48, 2495,
       3107, 1546, 3707, 2199, 2741, 2595, 1750, 3189,   40, 1842,  881,
        413, 2811, 2318, 1742,  333,  129, 2414, 1068, 3603,  244, 1222,
       3514, 1141, 2373,  997, 2893, 3451, 3640, 2830, 2622, 2305, 1179,
       3119,  254, 2531, 1019, 2101, 2125, 1385,  230, 2023,  133, 2336,
        730, 1715, 1208,  306, 2655, 2282, 1456, 2432, 2334, 2251, 3370,
       1190,  164, 1744, 1835, 1134, 1065, 2933, 2627,  533, 3667, 1604,
        478, 1273,  492, 2378,  186, 1573,  380, 1600, 2857, 2645, 3420,
        103, 1360, 1539, 3190, 1729, 3028, 2489, 2781,  577, 2268,  325,
       1607,  549,  104,  125, 2500, 1807, 2770, 1486,  512, 2327,  224,
        480, 1226, 2780, 1040, 1097, 3311, 2541, 3343, 3375, 1392, 2293,
        376, 2715, 3011, 3037, 2795, 3389, 2744,  952,  315, 2646, 3675,
        624,  130, 3025, 3387, 2057, 2161,   66, 2384, 2202, 3506,  530,
       1855,  176,  970,  136,  318, 3582, 1548, 2973, 3042, 1953,  288,
       2980, 1195,  187, 1209, 1177, 1633,  878, 2152,  247, 2328, 2477,
        408, 1499, 1524, 2098, 2403, 1566, 3163,   71, 2919, 3048, 2228,
       2311,  670, 2408, 3560, 3651,  518, 1242, 2412, 3342, 1194, 1716,
       3478,  197, 1090,   36, 1783, 2380, 2276,  274, 1011, 1612, 2737,
       1247, 2501, 3218, 1122, 2559, 1577,  602, 2986, 1732, 3237,  843,
       2626,   34,  789, 3593, 1197, 1900, 3209, 1252, 1158, 2926, 2148,
       1294,   26,  293, 2935,  162, 1484, 3024, 3612,  275, 2722,  131,
       2296, 1206, 2549, 2983,  182, 1191,   65, 2419, 3714,  703, 3294,
        591,  747, 2801,  368, 2674,  930, 2413, 1954, 2439, 1067, 2579,
        150, 3149, 3356,  532, 3402, 1053, 3352,  875, 3211,  974, 1189,
       2822, 1444, 1046, 2162, 1948, 3555,  943, 1832, 1074, 2817],
      dtype=int64)

In [13]:
temp_df = temp_df.loc[shuffle_index]

In [14]:
temp_df

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,Distance
2901,100%,90%,3,3,Private room,1.0,1.0,1.0,$75.00,NaN,$150.00,2,1125,1,38.928511,-77.033985,Washington,20009,DC,0.0
1150,100%,100%,2,3,Entire home/apt,1.0,1.0,1.0,$149.00,NaN,NaN,2,1125,46,38.912320,-77.037665,Washington,20009,DC,0.0
1281,100%,100%,1,3,Entire home/apt,1.0,1.0,1.0,$200.00,NaN,$200.00,3,1125,24,38.907939,-77.044878,Washington,20037,DC,0.0
2997,100%,100%,2,3,Entire home/apt,1.0,1.0,1.0,$145.00,NaN,NaN,2,1125,66,38.927774,-77.033722,Washington,20009,DC,0.0
631,100%,57%,1,3,Entire home/apt,0.0,1.0,2.0,$108.00,$65.00,$200.00,1,1125,1,38.912725,-77.033766,Washington,20009,DC,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,80%,100%,1,3,Entire home/apt,0.0,1.0,1.0,$145.00,$45.00,NaN,2,1125,89,38.888490,-76.994988,Washington,20003,DC,0.0
943,NaN,NaN,1,3,Private room,1.0,1.0,1.0,$125.00,$25.00,NaN,1,1125,3,38.913882,-77.038468,Washington,20009,DC,0.0
1832,84%,100%,4,3,Private room,1.0,1.0,2.0,$82.00,NaN,NaN,1,1125,0,38.969888,-77.021613,Washington,20012,DC,0.0
1074,100%,86%,1,3,Entire home/apt,1.0,1.0,1.0,$125.00,$25.00,NaN,2,1125,6,38.909847,-77.047664,Washington,20037,DC,0.0
2817,33%,67%,1,3,Entire home/apt,1.0,1.0,2.0,$85.00,$25.00,NaN,1,2,0,38.936451,-77.020377,Washington,20010,DC,0.0

In [15]:
temp_df["Price"] = temp_df["price"].str.strip("$").str.replace(",","").astype(float)

In [16]:
k = 5 # Neibours # hyper Parameter jk apni mrzi sy nhi lyty
mean_price = temp_df["Price"].head(k).mean()

In [17]:
mean_price

135.4

In [62]:
def predicted_price(new_listing,k = 5):
    new_df = dataset.copy()
    new_df["distance"] = new_df['accommodates'].apply(lambda x : np.sqrt((x - new_listing)**2))
    new_df = new_df[new_df["distance"] == 0]
    np.random.seed(0)
    shuffle_index = np.random.permutation(new_df.index)
    new_df = new_df.loc[shuffle_index]    
    new_df["price"] = new_df["price"].str.strip("$").str.replace(",","").astype(float) 
    neibour = new_df["price"].head(k) 
    mean_price = neibour.mean()
    return mean_price

In [63]:
predicted_price(3)

152.4

In [64]:
predicted_price(4)

119.0

In [65]:
predicted_price(7)

190.2

In [66]:
predicted_price(10)

321.6

###### Steps to follow in ML
* - corelation krna hai 
* - feathure selection \n
* - non ordinal data remove(nomial) \n
4 - non numerical ko delete krna hai \n
5 - removing missing data \n
6 - koi object value nhi hoti sb numeric hoti hai \n