In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re
import seaborn as sns
import warnings
pd.set_option('display.float_format', lambda x : '%.30f' % x)
pd.options.display.max_columns = None
pd.options.display.float_format = "{:,.3f}".format
warnings.filterwarnings('ignore')
sns.set()

C:\Users\S_Huzaifa_Ali_H\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
dataset  = pd.read_csv("googleplaystore.csv")

In [3]:
len(dataset)

10841

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [5]:
dataset.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.900,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.700,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
dataset.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
dataset[dataset.Category == '1.9'] =  ['Life Made WI-Fi Touchscreen Photo Frame',"LIFESTYLE", '1.9', '19', '3.0M', '1,000+', 'Free', '0', 'Everyone', 'Lifestyle', 'February 11, 2018', '1.0.19', '4.0 and up']

In [8]:
columns = ['Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating']

In [9]:
dataset = dataset[columns]

In [10]:
dataset.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [11]:
s = dataset.Rating.isnull() == True
len(dataset[s])

1474

In [12]:
dataset.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [13]:
dataset["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [14]:
dataset.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [15]:
dataset[dataset.Category == '1.9']

Empty DataFrame
Columns: [Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating]
Index: []

In [16]:
dataset[dataset.Category == '1.9'] = ['Life Made WI-Fi Touchscreen Photo Frame',"LIFESTYLE", '1.9', '19', '3.0M', '1,000+', 'Free', '0', 'Everyone', 'Lifestyle', 'February 11, 2018', '1.0.19', '4.0 and up']

In [17]:
dataset[dataset.Category == '1.9']

Empty DataFrame
Columns: [Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating]
Index: []

In [19]:
dataset

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.100,159,19M,"10,000+",Free,0,Everyone
1,ART_AND_DESIGN,3.900,967,14M,"500,000+",Free,0,Everyone
2,ART_AND_DESIGN,4.700,87510,8.7M,"5,000,000+",Free,0,Everyone
3,ART_AND_DESIGN,4.500,215644,25M,"50,000,000+",Free,0,Teen
4,ART_AND_DESIGN,4.300,967,2.8M,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...,...
10836,FAMILY,4.500,38,53M,"5,000+",Free,0,Everyone
10837,FAMILY,5.000,4,3.6M,100+,Free,0,Everyone
10838,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone
10839,BOOKS_AND_REFERENCE,4.500,114,Varies with device,"1,000+",Free,0,Mature 17+
10840,LIFESTYLE,4.500,398307,19M,"10,000,000+",Free,0,Everyone

In [20]:
len(dataset[dataset.Category.duplicated()])

10808

In [21]:
data = dataset.sort_values('Reviews', ascending=False).drop_duplicates(["App"])

KeyError: Index(['App'], dtype='object')

In [ ]:
final_data = data[data.App.apply(lambda x:[ True if ord(i)<=127 else False for i in x ].count(False) <= 3 )]

In [ ]:
len(final_data)

In [ ]:
final_data.Price.unique()

In [ ]:
final_data = final_data[final_data.Price == "0"]

In [ ]:
len(final_data)

In [22]:
final_data.Category.unique()

NameError: name 'final_data' is not defined

In [23]:
groupby_category = final_data.groupby("Category")

NameError: name 'final_data' is not defined

In [24]:
final_data

NameError: name 'final_data' is not defined

In [25]:
final_data.Installs = final_data.Installs.apply(lambda x:int(x.strip("+").replace(",","")))

NameError: name 'final_data' is not defined

In [ ]:
final_data

In [ ]:
groupby_category = final_data.groupby("Category")

In [ ]:
groupby_category

In [ ]:
dict(sorted(dict(groupby_category["Installs"].sum()).items(),key = lambda x: x[1],reverse=True))

In [ ]:
dict(groupby_category["Installs"].sum()).items()