In [1]:
import pandas as pd
import numpy as np

In [3]:
world_dev = pd.read_csv("World_dev.csv")

In [5]:
world_dev.columns

Index(['CountryCode', 'ShortName', 'TableName', 'LongName', 'Alpha2Code',
       'CurrencyUnit', 'SpecialNotes', 'Region', 'IncomeGroup', 'Wb2Code',
       'NationalAccountsBaseYear', 'NationalAccountsReferenceYear',
       'SnaPriceValuation', 'LendingCategory', 'OtherGroups',
       'SystemOfNationalAccounts', 'AlternativeConversionFactor',
       'PppSurveyYear', 'BalanceOfPaymentsManualInUse',
       'ExternalDebtReportingStatus', 'SystemOfTrade',
       'GovernmentAccountingConcept', 'ImfDataDisseminationStandard',
       'LatestPopulationCensus', 'LatestHouseholdSurvey',
       'SourceOfMostRecentIncomeAndExpenditureData',
       'VitalRegistrationComplete', 'LatestAgriculturalCensus',
       'LatestIndustrialData', 'LatestTradeData', 'LatestWaterWithdrawalData'],
      dtype='object')

In [4]:
pattern = r"national accounts"

In [7]:
search = world_dev['SpecialNotes'].str.contains(pattern)

In [9]:
world_dev[search == True]

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
5,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),2014,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008/09",NaN,2015,NaN,NaN,2005.0
6,ATG,Antigua and Barbuda,Antigua and Barbuda,Antigua and Barbuda,AG,East Caribbean dollar,April 2012 database update: Based on official ...,Latin America & Caribbean,High income: nonOECD,AG,...,Budgetary central government,General Data Dissemination System (GDDS),2011,NaN,NaN,Yes,2007,NaN,2013.0,2005.0
11,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,Fiscal year end: June 30; reporting period for...,East Asia & Pacific,High income: OECD,AU,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,NaN,"Expenditure survey/budget survey (ES/BS), 2003",Yes,2011,2011.0,2013.0,2000.0
15,BGD,Bangladesh,Bangladesh,People's Republic of Bangladesh,BD,Bangladeshi taka,Fiscal year end: June 30; reporting period for...,South Asia,Lower middle income,BD,...,Consolidated central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2014; HIV...","Integrated household survey (IHS), 2010",NaN,2008,NaN,2007.0,2008.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,URY,Uruguay,Uruguay,Oriental Republic of Uruguay,UY,Uruguayan peso,"In 2011, the Central Bank revised national acc...",Latin America & Caribbean,High income: nonOECD,UY,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Multiple Indicator Cluster Survey (MICS), 2012/13","Integrated household survey (IHS), 2013",Yes,2011,2009.0,2013.0,2000.0
238,VUT,Vanuatu,Vanuatu,Republic of Vanuatu,VU,Vanuatu vatu,2013 national accounts estimates are based on ...,East Asia & Pacific,Lower middle income,VU,...,Budgetary central government,General Data Dissemination System (GDDS),2009,"Multiple Indicator Cluster Survey (MICS), 2007",NaN,NaN,2007,NaN,2011.0,NaN
240,VNM,Vietnam,Vietnam,Socialist Republic of Vietnam,VN,Vietnamese dong,Based on data from the Vietnam Statistics Offi...,East Asia & Pacific,Lower middle income,VN,...,NaN,General Data Dissemination System (GDDS),2009,"Multiple Indicator Cluster Survey (MICS), 2013/14","Integrated household survey (IHS), 2012",Yes,2011/ 2012,2011.0,2013.0,2005.0
244,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2009.0,2013.0,2005.0
246,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2013.0,2002.0

In [11]:
world_dev.loc[search == True,'SpecialNotes']

0      Fiscal year end: March 20; reporting period fo...
5      April 2013 database update: Based on IMF data,...
6      April 2012 database update: Based on official ...
11     Fiscal year end: June 30; reporting period for...
15     Fiscal year end: June 30; reporting period for...
                             ...
236    In 2011, the Central Bank revised national acc...
238    2013 national accounts estimates are based on ...
240    Based on data from the Vietnam Statistics Offi...
244    Based on official government statistics and In...
246    Fiscal year end: June 30; reporting period for...
Name: SpecialNotes, Length: 70, dtype: object

In [14]:
pattern = r"[Nn]ational accounts"

search = world_dev['SpecialNotes'].str.contains(pattern)

world_dev.loc[search == True,'SpecialNotes']

0      Fiscal year end: March 20; reporting period fo...
5      April 2013 database update: Based on IMF data,...
6      April 2012 database update: Based on official ...
11     Fiscal year end: June 30; reporting period for...
13     April 2012 database update: National accounts ...
                             ...
238    2013 national accounts estimates are based on ...
240    Based on data from the Vietnam Statistics Offi...
244    Based on official government statistics and In...
245    The new base year is 2010. National accounts d...
246    Fiscal year end: June 30; reporting period for...
Name: SpecialNotes, Length: 80, dtype: object

In [15]:
pd.options.display.max_columns = None

In [17]:
pd.options.display.max_rows = None

In [20]:
pattern = r"([Nn]ational accounts)"
# or r"([Nn]ational) (accounts)"
search = world_dev['SpecialNotes'].str.extract(pattern)
search

                     0
0    national accounts
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5    national accounts
6    national accounts
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11   national accounts
12                 NaN
13   National accounts
14                 NaN
15   national accounts
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25   national accounts
26                 NaN
27                 NaN
28   national accounts
29                 NaN
30                 NaN
31   national accounts
32                 NaN
33                 NaN
34   national accounts
35                 NaN
36                 NaN
37                 NaN
38                 NaN
39   national accounts
40                 NaN
41                 NaN
42   national accounts
43                 NaN
44                 NaN
45   national accounts
46                 NaN
47                 NaN
48                 NaN
49                 NaN
50                 NaN
51                 NaN
52                 NaN
53                 NaN
54                 NaN
55                 NaN
56                 NaN
57   national accounts
58                 NaN
59                 NaN
60                 NaN
61   National accounts
62   national accounts
63                 NaN
64   National accounts
65   national accounts
66                 NaN
67   national accounts
68                 NaN
69                 NaN
70                 NaN
71                 NaN
72                 NaN
73   national accounts
74                 NaN
75                 NaN
76                 NaN
77                 NaN
78                 NaN
79                 NaN
80                 NaN
81   national accounts
82                 NaN
83                 NaN
84   national accounts
85                 NaN
86                 NaN
87                 NaN
88   national accounts
89                 NaN
90   national accounts
91                 NaN
92                 NaN
93                 NaN
94                 NaN
95                 NaN
96                 NaN
97   national accounts
98                 NaN
99   national accounts
100  national accounts
101  national accounts
102                NaN
103                NaN
104                NaN
105                NaN
106                NaN
107  national accounts
108  national accounts
109                NaN
110                NaN
111  national accounts
112                NaN
113                NaN
114                NaN
115  national accounts
116                NaN
117                NaN
118                NaN
119                NaN
120                NaN
121                NaN
122                NaN
123  national accounts
124  National accounts
125  National accounts
126                NaN
127                NaN
128                NaN
129                NaN
130                NaN
131                NaN
132                NaN
133                NaN
134                NaN
135  national accounts
136                NaN
137  national accounts
138                NaN
139                NaN
140  national accounts
141                NaN
142                NaN
143                NaN
144  national accounts
145                NaN
146                NaN
147                NaN
148                NaN
149                NaN
150                NaN
151                NaN
152                NaN
153                NaN
154  national accounts
155  national accounts
156  national accounts
157                NaN
158                NaN
159  national accounts
160  national accounts
161  national accounts
162  national accounts
163                NaN
164                NaN
165                NaN
166                NaN
167                NaN
168                NaN
169                NaN
170  national accounts
171  national accounts
172                NaN
173                NaN
174  National accounts
175                NaN
176  National accounts
177                NaN
178                NaN
179  national accounts
180                NaN
181                NaN
182                NaN
183  national accounts
184  national accounts
185                NaN
186                NaN
187                NaN
188                NaN
189  national accounts
190  national accounts
191  national accounts
192  national accounts
193                NaN
194                NaN
195                NaN
196                NaN
197  National accounts
198                NaN
199  national accounts
200                NaN
201                NaN
202                NaN
203                NaN
204  national accounts
205  national accounts
206                NaN
207  national accounts
208                NaN
209                NaN
210  National accounts
211                NaN
212  national accounts
213  national accounts
214                NaN
215  national accounts
216                NaN
217                NaN
218  national accounts
219                NaN
220  national accounts
221                NaN
222  national accounts
223  national accounts
224                NaN
225                NaN
226                NaN
227                NaN
228                NaN
229  national accounts
230  national accounts
231                NaN
232  national accounts
233                NaN
234  national accounts
235                NaN
236  national accounts
237                NaN
238  national accounts
239                NaN
240  national accounts
241                NaN
242                NaN
243                NaN
244  national accounts
245  National accounts
246  national accounts

In [21]:
pattern = r"([Nn]ational accounts)"
# or r"([Nn]ational) (accounts)"
search = world_dev['SpecialNotes'].str.extractall(pattern)
search

                           0
    match
0   0      national accounts
    1      National accounts
5   0      national accounts
6   0      national accounts
11  0      national accounts
13  0      National accounts
15  0      national accounts
25  0      national accounts
    1      national accounts
28  0      national accounts
31  0      national accounts
34  0      national accounts
39  0      national accounts
42  0      national accounts
45  0      national accounts
57  0      national accounts
61  0      National accounts
62  0      national accounts
64  0      National accounts
65  0      national accounts
67  0      national accounts
    1      national accounts
73  0      national accounts
81  0      national accounts
84  0      national accounts
88  0      national accounts
90  0      national accounts
    1      national accounts
97  0      national accounts
99  0      national accounts
100 0      national accounts
101 0      national accounts
107 0      national accounts
108 0      national accounts
111 0      national accounts
115 0      national accounts
123 0      national accounts
124 0      National accounts
125 0      National accounts
135 0      national accounts
    1      national accounts
137 0      national accounts
140 0      national accounts
144 0      national accounts
    1      national accounts
    2      national accounts
154 0      national accounts
155 0      national accounts
    1      national accounts
156 0      national accounts
159 0      national accounts
160 0      national accounts
161 0      national accounts
162 0      national accounts
170 0      national accounts
171 0      national accounts
    1      National accounts
174 0      National accounts
    1      National accounts
176 0      National accounts
179 0      national accounts
    1      national accounts
183 0      national accounts
184 0      national accounts
189 0      national accounts
190 0      national accounts
191 0      national accounts
    1      national accounts
192 0      national accounts
    1      National accounts
197 0      National accounts
199 0      national accounts
204 0      national accounts
205 0      national accounts
207 0      national accounts
210 0      National accounts
212 0      national accounts
213 0      national accounts
215 0      national accounts
218 0      national accounts
220 0      national accounts
    1      national accounts
222 0      national accounts
223 0      national accounts
    1      national accounts
    2      national accounts
229 0      national accounts
230 0      national accounts
232 0      national accounts
234 0      national accounts
236 0      national accounts
238 0      national accounts
240 0      national accounts
244 0      national accounts
245 0      National accounts
246 0      national accounts

In [26]:
pattern = r"(?P<Year>[1-2][0-9]{3})"

In [27]:
search = world_dev['SpecialNotes'].str.extractall(pattern)
search

           Year
    match
0   0      2013
5   0      2013
    1      2000
    2      2002
6   0      2012
    1      2000
    2      2006
8   0      2004
10  0      2000
    1      2011
    2      1994
    3      1999
    4      1995
    5      2000
11  0      1990
    1      2008
12  0      1999
    1      1999
13  0      2012
14  0      2010
15  0      2005
18  0      1999
    1      1999
22  0      2013
24  0      2010
25  0      2006
    1      2006
    2      2006
28  0      2010
    1      2011
    2      1995
31  0      1990
    1      2007
39  0      2005
    1      2005
42  0      1997
    1      1999
    2      2000
45  0      2013
    1      1990
    2      1990
47  0      2009
48  0      2010
    1      2013
    2      2005
51  0      2008
54  0      2005
57  0      2012
    1      2000
    2      2006
61  0      1965
    1      2007
62  0      2001
64  0      1980
    1      2006
65  0      2013
    1      2000
    2      2000
66  0      2011
67  0      2000
    1      2010
73  0      2005
    1      2005
74  0      1999
    1      1999
75  0      2007
76  0      1999
    1      1999
78  0      2001
80  0      1999
    1      1999
81  0      2010
    1      1993
    2      2006
82  0      1999
    1      1999
84  0      2012
    1      2000
    2      2006
88  0      2010
    1      2003
89  0      2010
    1      2006
90  0      2010
    1      1991
    2      1996
92  0      2014
93  0      2014
94  0      2014
96  0      1997
97  0      2012
    1      1991
99  0      2011
    1      2008
100 0      1999
    1      2010
103 0      1999
    1      1999
105 0      2010
106 0      1999
    1      1936
    2      1999
107 0      2013
    1      2002
    2      2007
110 0      2005
111 0      2009
112 0      2000
113 0      2010
    1      1970
    2      2000
114 0      2009
    1      1999
    2      1244
    3      1999
115 0      2010
120 0      2014
    1      2804
125 0      2010
    1      2013
127 0      2015
128 0      2014
129 0      2014
130 0      2014
131 0      1999
    1      1999
132 0      1999
133 0      2005
135 0      2000
    1      2009
137 0      2012
    1      2000
    2      2003
139 0      2008
141 0      2004
143 0      2008
144 0      2009
    1      2013
    2      2014
    3      2010
    4      1995
    5      2008
147 0      2014
150 0      2010
151 0      2006
    1      2005
153 0      2009
155 0      1980
    1      2010
157 0      1999
    1      2037
    2      1999
160 0      2013
    1      1994
    2      2006
161 0      2006
    1      2006
162 0      2014
    1      2010
    2      2010
    3      2008
167 0      2010
170 0      2005
172 0      2007
174 0      1960
    1      1991
    2      2012
175 0      2007
176 0      2012
    1      1998
178 0      1999
    1      1999
179 0      2012
    1      2001
183 0      2006
    1      2011
    2      2008
184 0      2008
187 0      2010
189 0      2006
    1      2005
    2      1999
    3      1999
    4      1244
    5      1999
    6      2009
    7      2011
    8      2003
    9      2010
190 0      2013
    1      1976
    2      2006
191 0      2013
    1      1990
    2      2006
192 0      1993
    1      2008
    2      2012
194 0      2009
195 0      2007
197 0      2007
    1      2013
199 0      2010
    1      2008
201 0      2011
202 0      1999
    1      1999
204 0      2012
    1      2000
    2      2006
205 0      2012
    1      2000
    2      2006
207 0      2012
    1      2000
    2      2006
210 0      2011
    1      2011
    2      2010
215 0      2013
    1      2003
217 0      2007
    1      1993
    2      2008
220 0      2013
    1      2004
    2      2004
221 0      2010
222 0      2013
    1      2000
    2      2000
223 0      2013
    1      2013
    2      2010
227 0      2009
229 0      2013
    1      1999
    2      2000
230 0      2009
    1      2008
232 0      2013
    1      2001
    2      2007
235 0      2014
236 0      2011
    1      2006
238 0      2013
    1      1997
    2      1998
240 0      2000
    1      2010
242 0      2004
244 0      1990
    1      2007
245 0      2010
    1      2013
    2      2008
246 0      2009